html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 1.6rem;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#welcome{
    background-color: grey;
    width: 85%;
    max-width: 100%;
    height: 45vh;

    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 0 10px gold;
}

    .btn {
    width: 80px;
    height: 75px;
    border-radius: 10px;
    border: 5px solid black;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: gold;
    font-size: 16px;
    cursor: pointer;
}

.btn.selected {
    background-color: green;
}

.radio {
    display: none;
}

.hide{
    display: none;
}

#question-holder {
    background-color: grey;
    width: 85%;
    max-width: 100%;
    height: 50vh;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px gold;
}

ul {
    list-style:upper-alpha;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap:30px;
    margin: 20px 0;
}

#timer {
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 50px;
    width: 100px;
    margin: 0;
}