@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

:root {
    --red: #FF1919;
    --white: #e9edf6;
    --black: #080808;
    --gold: #ffdb00;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--white);
    font-family: 'Playfair Display', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.center-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#welcome{
    background-color: var(--black);
    width: 80vw;
    height: 90vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--red);
}

.welcome-head {
    font-size: 24px;
    font-family: 'Poppins';
    text-shadow: 2px 2px var(--red);
    color: var(--gold);
    background-color: var(--black);
    border: 1px solid ;
    margin: 1rem 0;
}

#info {
    font-size: 14px;
    text-align:justify;
    border: 1px solid var(--gold);
    padding: 5px 15px;
}

.btn {
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    border: 2px solid var(--red);
    margin-top: .5rem;
    padding: 1rem 0;
    text-transform: uppercase;
    background-color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--red);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}

.radio {
    display: none;
}

.hide{
    display: none;
}

#question-holder {
    background-color: var(--black);
    width: 85vw;
    height: 100vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--red);
}

.counter-box {
    font-size: 13px;
    font-weight:900;
    border: 1px solid var(--red);
    padding-right: 2px;
}

#post {
    margin: 1rem 0;
    text-decoration: underline var(--red);
    font-size: 1.8rem;

}

#question {
    font-size: 15px;
}

#answer-holder {
    list-style-type: none;
    margin: 25px 0 0 0;
}

#answer-holder li {
    margin: 1rem 0;
    height: 40px;
}

#answer-holder label,
#answer-holder input {
    border: 1px solid var(--red);
    color: var(--white);
    white-space: nowrap;
    padding:8px;
    cursor: pointer;
    font-size: 14px;
}

#answer-holder input[type="radio"] {
    display: none;
}

#answer-holder input[type="radio"]:checked+label {
    background-color: var(--red);
}

#answer-holder label:hover {
    background: var(--red);
}

#difficulty {
    background-color:var(--white);
    color: var(--black);
    justify-content: space-evenly;
    margin: .5rem ;
}

#difficulty input,
#difficulty label {
    padding: .3rem;
}

#difficulty input {
    display: none;
}

#difficulty input[type='radio']:checked+label {
    color: var(--black);
    background-color: var(--gold);
}

#score-container{
    background-color: var(--black);
    width: 85vw;
    height: 55vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--red);
}

#result-message {
    font-size: 2.5rem;
}

#score-message {
    margin-top: 5px;
    font-size: 3rem;
}

#restart-btn {
    margin-top: 1rem;
}

@media (min-width:475px) {

    #welcome-head {
        font-size: 3rem;
    }

    #info{
        font-size: 22px;
    }

    .username {
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }

    .username input {
        font-size: 22px;
    }

    #difficulty {
        height: 7rem;
        margin: 2rem 0;
    }

    #start-btn {
        width: 15rem;
        height: 8rem;
    } 

    .counter-box {
        font-size: 2rem;
    }

    #post {
        margin: 2.5rem;
        font-size: 2.5rem;
    }

    #question {
        font-size: 2.8rem;
    }

    #answer-holder li {
        margin: 50px 0 0 0;
    }

    #answer-holder label,
    #answer-holder input{
    font-size: 2.5rem;
    }

    #submit{
        margin-top: 4rem;
        height: 7rem;
        width: 12rem;
    }
}

@media (min-width:768px){
    .welcome-head{
        font-size: 6rem;
    }
} 

@media (min-width:1200px) {

    #welcome-head {
        font-size: 5rem;
    }

    #info {
        font-size:3rem;
        text-align: center;
    }

    .username{
        font-size: 3rem;
        text-decoration: underline;
    }

    #username {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #difficulty {
        height: 10rem;
    }

    #difficulty input,
    #difficulty label {
        font-size: 4rem;
    }

    #question-holder {
        height: 90vh;
    }

    .btn {
        height: 14rem;
        width: 18rem;
    }
}
