@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

:root {
    --red: #FF1919;
    --white: #e9edf6;
    --black: #080808;
    --gold: #ffdb00;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--white);
    font-family: 'Playfair Display', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome{
    background-color: var(--black);
    width: 80vw;
    height: 88vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--red);
}

#welcome-head {
    font-size: 24px;
    font-family: 'Poppins';
    text-shadow: 2px 2px var(--red);
    color: var(--gold);
    background-color: var(--black);
    border: 1px solid ;
}

#info {
    font-size: 14px;
    text-align:justify
}

.btn {
    width: 80px;
    height: 75px;
    border-radius: 10px;
    border: 2px solid var(--red);
    margin-top: 10px;
    padding: 1rem 0;
    text-transform: uppercase;
    background-color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--red);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}

.radio {
    display: none;
}

.hide{
    display: none;
}

#question-holder {
    background-color: var(--black);
    width: 85vw;
    height: 100vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--red);
}

#question-holder p {
    font-size: 14px;  
}

#question {
    font-size: 15px;
}

#answer-holder {
    list-style-type: none;
    margin: 25px 0 0 0;
}

#answer-holder li {
    margin: 0 5px 0 0;
    height: 40px;
}

#answer-holder label,
#answer-holder input {
    border: 1px solid var(--red);
    color: var(--white);
    white-space: nowrap;
    padding:8px;
    cursor: pointer;
    font-size: 14px;
}

#answer-holder input[type="radio"] {
    display: none;
}

#answer-holder label:hover {
    background: var(--red);
}

#answer-holder input[type="radio"]:checked + label {
    background-color: var(--red);
}

#difficulty {
    background-color:var(--white);
    color: var(--black);
    justify-content: space-evenly;
}

#difficulty input {
    display: none;
}

#difficulty input[type='radio']:checked+label {
    box-shadow: 0px 0px 20px 10px var(--gold);
    color: var(--black);
    background-color: var(--gold);
}

#score-container{
    background-color: var(--black);
    width: 85vw;
    height: 50vh;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--red);
}

#result-message {
    font-size: 2.5rem;
}

#score-message {
    margin-top: 5px;
    font-size: 3rem;
}

#restart-btn {
    margin-top: 1rem;
}

@media (min-width:1200px) {

    #welcome-head {
        font-size: 5rem;
    }

    #info {
        font-size:3rem;
        text-align: center;
    }

    .username{
        font-size: 3rem;
        text-decoration: underline;
    }

    #username {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #difficulty {
        height: 10rem;
    }

    #difficulty input,
    #difficulty label {
        font-size: 4rem;
    }

    .btn {
        height: 14rem;
        width: 18rem;
    }
}